extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../includes/_contact-form
include ../sections/_google-map
include ../sections/_footer-modern

block variables
	- pageName = 'Contact Us'

block page 
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius <br class="d-none d-md-block">mod tempor incididunt ut labore et dolore magna aliqua.'
	})

	// Get in touch
	section.section.section-xl.bg-default.text-md-left
		.container
			.title-classic
				h3.title-classic-title Get in touch
				p.title-classic-subtitle We are available 24/7 by fax, e-mail or by phone. You can also use our #[br.d-none.d-lg-block]quick contact form to ask a question about our products.
			+contact-form-2


	// Get in touch
	section.section.section-xl.bg-gray-4
		.container: .row.row-30.justify-content-center
			.col-sm-6.col-md-4
				h4 Phones
				ul.contacts-classic
					li Office
						=' '
						a( href='tel:#' ) +1 (409) 987–5874
					li Fax
						=' '
						a( href='tel:#' ) +1 (409) 987–5874
			.col-sm-6.col-md-4
				h4 Address
				.contacts-classic
					a( href='#' ) 523 Sylvan Ave, 5th Floor #[br]Mountain View, CA 94041 USA
			.col-sm-6.col-md-4
				h4 E-mails
				ul.contacts-classic
					li: a( href='mailTo:#' ) info@demolink.org
					li: a( href='mailTo:#' ) mail@demolink.org


	section.section
		+google-map


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2
