extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../components/_pricing
include ../sections/_footer-modern

block variables
	- pageName = 'Pricing List'

block page  
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius <br class="d-none d-md-block">mod tempor incididunt ut labore et dolore magna aliqua.'
	})

	// Pricing List
	section.section.section-xxl.bg-default.text-center
		.container
			.title-group
				h3.text-capitalize Our Pricing Plans
				p.text-width-large Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor Tur adipiscing elit, sed do. semantic;users, seamless beta-test

			include ../includes/_pricing-classic


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2
