extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../sections/_footer-modern

block variables
	- pageName = 'Search Results'

block page 
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about',
		text: 'We are industry-leading organic farm delivering the best products <br class="d-none d-md-block">that boost your daily life energy and potential.'
	})

	// Search results
	section.section.section-xl.bg-default
		.container: .row.justify-content-center: .col-lg-10.col-xl-9
			// RD Search
			form.rd-form.rd-search.rd-form-inline( action='search-results.html', method='GET' )
				.form-wrap
					input.form-input( id='rd-search-form-input', type='text', name='s', autocomplete='off' )
					label.form-label( for='rd-search-form-input' ) Enter a search request
				.form-button
					button.button.button-primary( type='submit' ) Search

			.rd-search-results


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2
