//- box comment

mixin box-comment( obj )
	.box-comment&attributes( attributes )
		.unit.flex-column.flex-sm-row( class= obj.unit )
			.unit-left: a.box-comment-figure( href='#' ): +img( obj.img )
			.unit-body
				.group-sm.group-justify
					div: .group-xs.group-middle
						h5.box-comment-author: a( href='#' )=obj.author
						if( obj.productComments == true )
							.box-rating
								span.icon.mdi.mdi-star
								span.icon.mdi.mdi-star
								span.icon.mdi.mdi-star
								span.icon.mdi.mdi-star
								span.icon.mdi.mdi-star-half
						else
							a.box-comment-reply( href='#' ) Reply

					.box-comment-time: time( datetime= obj.time.datetime )= obj.time.datetext

				p.box-comment-text= obj.text

		block