mixin inline-subscribe-form( obj )
	-  var uniquePrefix = subscribeFormCounter
	if ( obj.customUnique )
		- var uniquePrefix = obj.customUnique
	else
		- subscribeFormCounter = subscribeFormCounter + 1

	// RD Mailform
	form.rd-form.rd-mailform.rd-form-inline( data-form-output='form-output-global', data-form-type='subscribe', method='post', action='bat/rd-mailform.php' )&attributes( attributes )
		.form-wrap.wow.fadeInUp
			input.form-input( id='subscribe-form-' + uniquePrefix + '-email', type='email', name='email', data-constraints='@Email @Required' )
			label.form-label( for='subscribe-form-' + uniquePrefix + '-email' ) Enter your e-mail address
		.form-button.wow.fadeInRight
			button.button.button-shadow-2.button-zakaria( type='submit', class=obj.button ) Subscribe