//- Pricing

mixin pricing-classic( obj )
	article.pricing-classic&attributes( attributes )
		.pricing-classic-header
			+img( obj.img ).pricing-classic-figure
			.pricing-classic-caption: div
				if( obj.priceOld )
					span.product-badge.product-badge-sale Sale
				h3.pricing-classic-title= obj.title
				.pricing-classic-price-wrap
					if( obj.priceOld )
						.pricing-classic-price.pricing-classic-price-old.heading-6= '$' + obj.priceOld + '.00'
					.pricing-classic-price.heading-4= '$' + obj.price + '.00'

		.pricing-classic-body
			block
			a.button.button-lg.button-default-outline-2.button-zakaria( href='#' ) Add to cart
