.aside.row.row-30.row-md-50.justify-content-md-between
	.aside-item.col-12
		.team-info.box-sm
			a.team-info-figure( href= links.team ): +img( 'user-4-123x123' )
			h6.team-info-title: a( href= links.team ) Rebecca Harison
			p.team-info-text I am the leading editor and blogger at Farm website.

		// RD Search Form
		form.rd-search.form-search( action='search-results.html', method='GET' )
			.form-wrap
				label.form-label( for='search-form' ) Search blog...
				input.form-input( id='search-form', type='text', name='s', autocomplete='off' )
				button.button-search.fl-bigmug-line-search74( type='submit' )

	.aside-item.col-sm-6.col-md-5.col-lg-12
		h6.aside-title Categories
		ul.list-categories
			li
				a( href='#' ) All
				span.list-categories-number (18)
			li
				a( href='#' ) Fruits
				span.list-categories-number (9)
			li
				a( href='#' ) Drinks
				span.list-categories-number (5)
			li
				a( href='#' ) Smoothies
				span.list-categories-number (8)

	.aside-item.col-sm-6.col-lg-12
		h6.aside-title Latest Posts
		.row.row-20.row-lg-30.gutters-10
			.col-6.col-lg-12
				+post-minimal({
					unit: 'flex-column flex-lg-row align-items-lg-center',
					img: 'post-mini-1-106x104',
					title: 'Can a Smoothie Power Your Day?',
					time: {
						datetime: '2020-03-15',
						datetext: 'March 15, 2020'
					}
				})
			.col-6.col-lg-12
				+post-minimal({
					unit: 'flex-column flex-lg-row align-items-lg-center',
					img: 'post-mini-2-106x104',
					title: 'Making Yoghurts with Fresh Fruits',
					time: {
						datetime: '2020-03-15',
						datetext: 'March 15, 2020'
					}
				})

	.aside-item.col-sm-6.col-md-5.col-lg-12
		h6.aside-title Popular tags
		.group-sm.group-tags
			a.link-tag( href='#' ) Fruits
			a.link-tag( href='#' ) Smoothies 
			a.link-tag( href='#' ) Drinks
			a.link-tag( href='#' ) Organic
			a.link-tag( href='#' ) news
			a.link-tag( href='#' ) tips

	.aside-item.col-sm-6.col-lg-12
		h6.aside-title Archives
		ul.list-marked.list-archives.d-inline-block.d-md-block
			li: a( href='#' ) March 2020
			li: a( href='#' ) February 2020
			li: a( href='#' ) January 2020
			li: a( href='#' ) December 2020
