//- Header Cart
.rd-navbar-basket-wrap
	button.rd-navbar-basket.fl-bigmug-line-shopping202( data-rd-navbar-toggle='.cart-inline' ): span 2
	.cart-inline
		.cart-inline-header
			h5.cart-inline-title In cart:
				span  2
				|  Products
			h6.cart-inline-title Total price:
				span  $42
		.cart-inline-body
			.cart-inline-item
				.unit.unit-spacing-sm.align-items-center
					.unit-left: a.cart-inline-figure( href='single-product.html' ): +img( 'product-mini-1-106x104' )
					.unit-body
						h6.cart-inline-name: a( href='single-product.html' ) Forest Berry
						div: .group-xs.group-middle
							div.table-cart-stepper: input.form-input( type='number', data-zeros='true', value='1', min='1', max='1000' )
							h6.cart-inline-title $18.00
			.cart-inline-item
				.unit.unit-spacing-sm.align-items-center
					.unit-left: a.cart-inline-figure( href='single-product.html' ): +img( 'product-mini-2-106x104' )
					.unit-body
						h6.cart-inline-name: a( href='single-product.html' ) Carrots
						div: .group-xs.group-middle
							div.table-cart-stepper: input.form-input( type='number', data-zeros='true', value='1', min='1', max='1000' )
							h6.cart-inline-title $24.00

		.cart-inline-footer
			.group-sm
				a.button.button-default-outline-2.button-zakaria( href='#' ) Go to cart
				a.button.button-primary.button-zakaria( href='#' ) Checkout
