.isotope-wrap
	.isotope-filters
		//- Isotope Filters
		button.isotope-filters-toggle.button.button-sm.button-icon.button-icon-right.button-default-outline( data-custom-toggle='.isotope-filters-list', data-custom-toggle-disable-on-blur='true', data-custom-toggle-hide-on-blur='true' )
			span.icon.mdi.mdi-chevron-down
			| Filter

		.isotope-filters-list-wrap
			ul.isotope-filters-list
				li: a.active( href='#', data-isotope-filter='*' ) All
				li: a( href='#', data-isotope-filter='Type 1' ) Fruits
				li: a( href='#', data-isotope-filter='Type 2' ) Vegetables

	.row.row-30.isotope.isotope-custom-1( data-lightgallery='group' )
		.col-sm-6.col-lg-4.col-xl-3.isotope-item( data-filter='Type 1' )
			+thumbnail-classic({
				img: 'masonry-gallery-1-270x250',
				imgOriginal: 'grid-gallery-4-1200x800-original',
				title: 'Lemon & apple smoothie',
				price: '12'
			}).block-1

		.col-sm-6.col-lg-4.col-xl-3.isotope-item( data-filter='Type 2' )
			+thumbnail-classic({
				img: 'masonry-gallery-2-270x530',
				imgOriginal: 'masonry-gallery-2-1200x800-original',
				title: 'Avocado smoothie',
				price: '13'
			}).block-1

		.col-sm-6.col-lg-4.col-xl-3.isotope-item( data-filter='Type 1' )
			+thumbnail-classic({
				img: 'masonry-gallery-3-270x250',
				imgOriginal: 'masonry-gallery-3-1200x800-original',
				title: 'Grapefruit smoothie',
				price: '10'
			}).block-1

		.col-sm-6.col-lg-4.col-xl-3.isotope-item( data-filter='Type 2' )
			+thumbnail-classic({
				img: 'masonry-gallery-4-270x250',
				imgOriginal: 'masonry-gallery-4-1200x800-original',
				title: 'Raspberry smoothie',
				price: '8'
			}).block-1

		.col-sm-6.col-lg-4.col-xl-3.isotope-item( data-filter='Type 1' )
			+thumbnail-classic({
				img: 'masonry-gallery-5-270x250',
				imgOriginal: 'grid-gallery-2-1200x800-original',
				title: 'Kiwi & avocado mix',
				price: '14'
			}).block-1

		.col-sm-6.col-lg-4.col-xl-6.isotope-item( data-filter='Type 2' )
			+thumbnail-classic({
				img: 'masonry-gallery-6-570x530',
				imgOriginal: 'grid-gallery-6-1200x800-original',
				title: 'Green fruit mix',
				price: '16'
			}).block-1

		.col-sm-6.col-lg-8.col-xl-6.isotope-item( data-filter='Type 1' )
			+thumbnail-classic({
				img: 'masonry-gallery-7-570x250',
				imgOriginal: 'grid-gallery-1-1200x800-original',
				title: 'Watermelon energy bowl',
				price: '10'
			}).block-1
