.row.row-xl.row-30.justify-content-center
	.col-sm-6.col-lg-4
		+pricing-classic({
			img: 'pricing-1-346x229',
			title: 'Basic',
			price: '90'
		})
			ul.pricing-classic-list
				li Banana
				li Tropical Mango
				li Strawberry
				li Blueberry Kale

	.col-sm-6.col-lg-4
		+pricing-classic({
			img: 'pricing-2-346x229',
			title: 'Standard',
			price: '120',
			priceOld: '150'
		}).pricing-classic-sale
			ul.pricing-classic-list
				li Watermelon
				li Green Pear
				li Ginger Plum
				li Coconut & Banana

	.col-sm-6.col-lg-4
		+pricing-classic({
			img: 'pricing-3-346x229',
			title: 'Ultimate',
			price: '190'
		})
			ul.pricing-classic-list
				li Orange
				li Peach
				li Raspberry & Cranberry
				li Forest Fruit
